[submodule "plugins/MultipleLocalAuth"]
	path = plugins/MultipleLocalAuth
	url = https://github.com/mapasculturais/plugin-MultipleLocalAuth
[submodule "plugins/SpamDetector"]
	path = plugins/SpamDetector
	url = https://github.com/mapasculturais/plugin-SpamDetector.git
