[submodule "plugins/MultipleLocalAuth"]
	path = plugins/MultipleLocalAuth
	url = https://github.com/mapasculturais/plugin-MultipleLocalAuth
[submodule "plugins/Accessibility"]
	path = plugins/Accessibility
	url = https://github.com/mapasculturais/plugin-Accessibility
[submodule "plugins/Analytics"]
	path = plugins/Analytics
	url = https://github.com/mapasculturais/plugin-Analytics
[submodule "plugins/RecreatePCacheOnLogin"]
	path = plugins/RecreatePCacheOnLogin
	url = https://github.com/mapasculturais/plugin-RecreatePCacheOnLogin
[submodule "plugins/AdminLoginAsUser"]
	path = plugins/AdminLoginAsUser
	url = https://github.com/mapasculturais/plugin-AdminLoginAsUser
