[submodule "plugins/MultipleLocalAuth"]
	path = plugins/MultipleLocalAuth
	url = https://github.com/mapasculturais/plugin-MultipleLocalAuth
[submodule "plugins/Accessibility"]
	path = plugins/Accessibility
	url = https://github.com/mapasculturais/plugin-Accessibility
